<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="jaco" >

    <!-- common stuff -->
    <xacro:include filename="$(find kinova_description)/urdf/gazebo.urdf.xacro" />

    <!-- jaco -->
    <xacro:include filename="$(find kinova_description)/urdf/jaco.urdf.xacro" />

    <!-- arm -->
    <xacro:jaco_robot prefix="jaco_"/>
    
    <link name="world" />

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "base_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

</robot>
